**/.ipynb_checkpoints
**/__pycache__
*.png
*.mp4
*.npy
*.npz
*.dae
*.json
*.blend
*.blend1
*.pth
data/*
logs/*
paths/*
sim_img_cache/*
.DS_Store
stone_nerf

# built extensions
raymarching/*
shencoder/*
gridencoder/*
freqencoder/*
